<h1>Information</h1>

<div id="gamehelp">
	<h2>How to win</h2>

	<p>You must gain a certain amount of points to win the game. There are a couple of ways to gain points:</p>

	<ul>
		<li>Move a square: +1</li>
		<li>Throw a one: +1</li>
		<li>Win a minigame: +5</li>
		<li>Stop on a yellow 'Points' square: +5</li>
		<li>Stop on a red 'Points' square: -3</li>
		<li>Stop on the green 'Start' square: +10</li>
		<li>Stop on the blue 'Jackpot' square: the jackpot</li>
	</ul>

	<p>There are always at least 5 points in the jackpot. Every time a player stops on a red square the 3 points lost will be added to the jackpot.</p>

</div>

<a href="#"><button class="back red">Back</button></a>